{% extends 'admin/auth/user/change_password.html' %}
{% load i18n admin_urls static admin_modify %}

{% block content %}
    <p>Enter a new password for the user <strong>{{ user.email }}</strong></p>

    <fieldset class="module aligned">
        <form method="post">
        {% csrf_token %}
            <div class="form-row">
                <label for="password" class="required">
                    <b>Password:</b>
                </label>
                {% if errors and errors.password %}
                    <ul class="errorlist">
                        {% for error in errors.password %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <input id="password" name="password" type="password" maxlength="50" class="vTextField" required>
            </div>

            <div class="form-row">
                <label for="password" class="required">
                    <b>Password (again):</b>
                </label>
                <input id="password" name="password_again" type="password" maxlength="50" class="vTextField" required>
            </div>
            <div class="submit-row">
                <input type="submit" value="{% trans 'Change password' %}" class="default">
            </div>
        </form>
    </fieldset>

{% endblock %}