{% load i18n admin_urls %}
{% block object-tools-items %}
    <li>
        {% url opts|admin_urlname:'view_users' original.pk|admin_urlquote as view_users %}
        <a href="{% add_preserved_filters view_users %}" class="link">{% trans "Users" %}</a>
    </li>

    <li>
        {% url opts|admin_urlname:'add_super_user' original.pk|admin_urlquote as add_admin %}
        <a href="{% add_preserved_filters add_admin %}" class="addlink">{% trans "Add super user" %}</a>
    </li>

    <li>
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
    </li>
    {% if has_absolute_url %}
        <li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
{% endblock %}